<div class="single-page">
  <div class="page-main">
    <div class="page-header">
      <h3>{{title}}</h3>
      <a href="/admin/question/create" class="add-btn">
        <span>Savol qo'shish</span>
      </a>
    </div>
    <div class="page-body">
      <div class="page-body-wrapper">
        <div class="my-table">
          <table>
            <thead>
              <tr>
                <th>№</th>
                <th>Rasm</th>
                <th>Nomi</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each question}}
              <tr>
                <td width="1%">{{@index}}</td>
                <td width="1%">
                  <div class="my-table-avatar">
                    <img src="/{{img}}" alt="avatar" />
                  </div>
                </td>
                <td>{{ answer }}</td>
                <td width="150px  ">
                  <a href="/admin/question/delete/{{_id}}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>